* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01095b;
  height: 100px;
}

.img-logo {
  width: 100px;
  /* border: 1px solid white; */
}

nav {
  display: flex;
  gap: 20px;
  padding: 0 40px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: relative;
}

a::after {
  content: "";
  width: 0;
  height: 4;
  background-color: white;
  position: absolute;
  bottom: 50%;
  transition: all 0.5s;
  will-change: width;
}

a:hover::after {
  width: 100%;
  right: 0;
}

a:hover {
  text-decoration: underline 3px;
  padding-top: 5px;
}

/* estilos body */

body {
  background: rgb(157, 63, 251);
  background: radial-gradient(
    circle,
    rgba(157, 63, 251, 1) 0%,
    rgba(70, 77, 252, 1) 100%
  );
}

h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  margin: 40px;
  text-shadow: 1px 1px 10px rgb(187, 187, 187);
}

/* estilando las card */

.container {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  margin-top: 200px;
  align-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: rgb(63, 79, 251);
  background: radial-gradient(
    circle,
    rgba(63, 79, 251, 1) 20%,
    rgba(252, 70, 226, 1) 100%
  );
  border: 4px solid black;
  height: 500px;
  width: 500px;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 8px 10px;
}

.img-card {
  width: 300px;
  height: 300px;
  border-radius: 1rem;
}

.desc {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* footer */

footer {
  display: flex;
  height: 100px;
  margin: 200px 0px 0px 0px;
  background-color: #01095b;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.list {
  display: flex;
  padding: 0px 10px;
}

.item-footer {
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

#copy {
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 20px;
}
